body {
        font-family: "Montserrat", sans-serif !important;
        margin: 0;
        background-color: #000;
        color: #fff;
        overflow: hidden;
    }
    
    .main {
        display: flex;
        padding: 0.5rem;
        height: 100vh;
    }
    
    .sidebar {
        background-color: red;
        width: 330px;
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: black;
    }
    
    .main-content {
        background-color: blue;
        flex: 1;
        border-radius: 1rem;
        background-color: #121212;
        overflow: auto;
        padding-left: 1.5rem;
    }
    
    .music-player {
        background-color: black;
        position: fixed;
        bottom: 0;
        height: 72px;
        width: 100vw;
        display: flex;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    .nav {
        background-color: #121212;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 1rem;
        padding: 0.5rem 0.75rem;
    }
    
    .nav-option {
        line-height: 2.5rem;
        opacity: 1;
    }
    
    .nav-option:hover {
        opacity: 0.7;
    }
    
    .nav-option a {
        font-size: 1rem;
        margin-left: 15px;
    }
    
    .nav-option i {
        font-size: 1.3rem;
        padding-left: 0.5rem;
    }
    
    .library {
        background-color: #121212;
        border-radius: 1rem;
        height: 100%;
        margin-top: 2.5rem;
        padding: 0.5rem 0.75rem;
    }
    
    .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .lib-option img {
        height: 1.2rem;
    }
    
    .lib-option a {
        opacity: 0.7;
    }
    
    .lib-option a:hover {
        opacity: 1;
    }
    
    .icons {
        opacity: 0.7;
        font-size: 1.24rem;
        margin-right: 1rem;
    }
    
    .icons i {
        opacity: 0.7;
        margin-right: 1rem;
    }
    
    .icons i:hover {
        opacity: 1;
    }
    
    .box {
        background-color: #232323;
        height: 10rem;
        border-radius: 0.75rem;
        margin: 1.85rem 0rem;
        padding: 1rem 1.24rem;
    }
    
    .box-p1 {
        font-size: 1rem;
        font-weight: 500;
    }
    
    .box-p2 {
        font-size: 0.85rem;
        opacity: 0.9;
    }
    
    .badge {
        background-color: white;
        border: none;
        border-radius: 100px;
        padding: 0.23rem 1rem;
        font-weight: 700;
        width: fit-content;
        height: 1.7rem;
        margin-top: 0.5rem;
    }
    
    .sticky-nav {
        position: sticky;
        top: 0;
        background-color: #121212;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0rem;
        z-index: 1;
    }
    
    .sticky-nav-icons {
        margin-left: 0.75rem;
    }
    
    .sticky-nav-options {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sticky-nav-options button {
        margin-right: 1.5rem;
    }
    
    .sticky-nav-options i {
        margin-right: 1.5rem;
    }
    
    .dark-badge {
        background-color: black;
        color: white;
    }
    
    .sticky-nav-options button .down {
        margin-right: 0.5rem;
    }
    
    @media (max-width: 1000px) {
        .hide {
            display: none;
        }
    }
    
    .card {
        background-color: #232323;
        width: 150px;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }
    
    .card-image {
        width: 100%;
        border-radius: 0.5rem;
    }
    
    .card-title {
        font-weight: 600;
    }
    
    .card-info {
        font-size: 0.92rem;
        opacity: 0.7;
    }
    
    .cards-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer {
        height: 300px;
        display: flex;
        align-items: center;
        opacity: 0.5;
        justify-content: center;
    }
    
    .line {
        width: 90%;
        height: 30%;
        border-top: 1px solid white;
    }
    
    .album {
        width: 25%;
    }
    
    .player {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .player img {
        margin: 0.7rem 0.6rem;
    }
    
    .player-controls {
        margin: 0px auto;
    }
    
    .controls {
        width: 25%;
    }
    
    .player-controls img {
        height: 1rem;
    }
    
    .progress-bar {
        width: 80%;
        margin-right: 12rem;
    }